.App {
  text-align: center;
  background-color: #282c34;
  align-items: center;
  min-height: 100vh; /* Make sure the app fills the viewport height */
  display: flex; /* Use flex to control the layout */
  flex-direction: column; /* Stack children vertically */
  font-family: 'Open Sans', sans-serif;
 /* Radial gradient background similar to Uniswap */
  background: radial-gradient(
    circle at 50% 60%,
    #393939 0%, 
    #171717 40%, 
    #0d0d0d 100%
  );

  color: white;
  font-size: larger;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  /* Removed min-height to allow the header to take only the space it needs */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; This was causing the gap */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.navbar {
  width: 100%;
  background-color: #61dafb; /* Adjust the color to match your navbar */
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.question-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px; /* Adjust this value based on the height of your navbar */
  width: 100%;
  margin: 0 auto; /* This will center the container */
}


.submit-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  width: fit-content;
  margin: 20px auto; /* This will center the button */
}

/* Responsive layout adjustments if necessary */
@media (max-width: 768px) {
  .question-container {
    flex-direction: column;
  }
}

.wallet-address-input {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  width: fit-content;
}

.video-container {
  position: relative;
  /* Ensure the container is not larger than the video */
  width: fit-content; 
  transform: perspective(1000px) rotateX(5deg); /* Add perspective and a slight tilt */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), /* Shadow for depth */
              0 6px 6px rgba(0, 0, 0, 0.23); /* Slightly darker shadow at the bottom */
  border-radius: 20px; /* Optional: if you want rounded corners */
  overflow: hidden; /* If you have rounded corners, this makes sure the video respects that shape */
  margin-bottom: 40px;
  background: #4c2a85; /* Base purple color */
  border: 1px solid rgba(255, 255, 255, 0.2); 
  background: linear-gradient(
    to bottom right,
    rgba(76, 42, 50, 0.95), /* Lighter purple top */
    rgba(38, 20, 70, 0.95) /* Darker purple bottom */
  );
  margin: 20px auto; /* Adds space around the container */
  padding: 20px; /* Adds space inside the container, around the video */
}

.video-element {
  /* Set the dimensions as required, or use max-width/max-height to make it responsive */
  width: 100%; /* This will make the video responsive, assuming its container has a max-width */
  height: auto;
  
}
.face-guide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%; /* Adjust size as necessary */
  height: 70%; /* Adjust size as necessary */
  border: 2px solid rgba(255, 255, 255, 0.7); /* White border with some transparency */
  background: rgba(255, 255, 255, 0.02); /* Light white semi-transparent background */
  border-radius: 50% / 50%; /* Adjust to get the oval shape */
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2); /* Optional: to give depth */
}